/* OrderSummary.module.css */
.order-summary {
  background-image: url('../assets/forest.jpg'); /* Asegúrate de que la ruta sea correcta */
  background-size: cover;
  background-position: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white; /* Cambia el color del texto para que sea visible sobre el fondo */
}
