/* index.css */

/* Estilos globales */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #f5f5f5;
  }
  
  /* Estilos para el contenedor principal */
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Estilos para el componente App */
  h1 {
    color: #333;
    text-align: center;
  }
  